body{
	background-image: url(pic/m.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
}

#particles-js{

}

{
	font-size: 50px;
	color: white;
	padding-left: 40%;
	padding-top: 
}